html, body {
  height: 100%;
}

body {
  background-color: #000000;
  margin: 0;
  font-family: Helvetica, sans-serif;;
  overflow: hidden;
}
.single-img:hover{
  width: 70px;
  height: 70px;
  cursor: pointer;
}